/*Huvud Div för hela "Lägg till" delen av sidan*/
#laggTillKortlek {
  margin: 0 auto;
  display: none;
}
#kortlekVal {
  display: flex;
}
#kortVal {
  display: none;
}

/*Själva formen med inputs och knappar*/
form {
  background-image: url("/bilder/paper.jpg");
  height: 500px;
  width: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
form h3 {
  margin-top: 15%;
  color: black;
}
input[type="text"] {
  margin: 5px;
  width: 40%;
  height: 30px;
  border-radius: 5px;
}
.laggTillBtn {
  background-color: hsl(160, 85%, 50%);
  margin-top: 40px;
  width: 50%;
  height: 35px;
}
.laggTillBtn:hover {
  cursor: pointer;
  background-color: hsl(160, 85%, 70%);
}
#avslutaBtn {
  background-color: hsl(0, 0%, 80%);
  margin-top: 80px;
  width: 50%;
  height: 35px;
}
#errorText {
  color: red;
}
#lagtTillText {
  color: rgb(2, 173, 2);
}
#avslutaBtn:hover {
  cursor: pointer;
  background-color: hsl(0, 0%, 90%);
}
